<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="body">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <img class="profile-image" th:src="@{/img/Eleanor-headshot.jpg}" alt="Profile Picture" id="profileImage"/>
            <h1 class="display-4">Eleanor Ellingson</h1>
            <p class="lead">“Success is not final, failure is not fatal: it is the courage to continue that counts.” – Winston Churchill</p>
        </div>
    </div>


</div>

</body>
</html>