<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: header-links"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/img/Resume.jpg}">Resume</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" th:href="@{/posts}">Blog</a>
                    <a class="dropdown-item" href="https://eleanorellingson.github.io/coffee-project/" target="_blank">Coffee Project</a>
                    <a class="dropdown-item" href="https://eleanorellingson.github.io/weather-app/" target="_blank">Weather Map</a>


                </div>
            </li>
        </ul>

    </div>
</nav>
<div class="body">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <img class="profile-image" th:src="@{/img/Eleanor-headshot.jpg}" alt="Profile Picture" id="profileImage"/>

                <h1 class="display-4">Eleanor Ellingson</h1>
                <h4 class="display-5">Software Developer</h4>
            <p class="lead">“Success is not final, failure is not fatal: it is the courage to continue that counts.” – Winston Churchill</p>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card col d-flex justify-content-center" >
                    <div class="card-home">
                        <div class="projects">
                            <h2 class="home-header">About Me</h2>
                            <p>I love solving problems and creating technical solutions to make life more efficient. As a former entrepreneur I have the ability to see the big picture while remaining detail oriented. I enjoy working in teams and am a natural leader. I am seeking to expand my software development skill-set and eventually combine technical and soft skills in project management.</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">
                <div class="card col d-flex justify-content-center" >
                    <div class="card-home">
                        <div class="about-me">
                            <h2 class="home-header">My Skills</h2>
                            Java SE &bull; MySQL &bull; Spring &bull; Thymeleaf &bull; Object-Oriented Programming &bull; Java EE (Servlets, JSP) &bull; HTML &bull; CSS &bull; JavaScript &bull; BootStrap &bull; jQuery &bull; Paired Programming &bull; VCS with Git &bull; Test-Driven Development
                            <h2 class="home-header top-buffer">My Projects</h2>
                            <div class="row">
                                <a class="btn" data-bs-toggle="collapse" th:href="@{/posts}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Blog
                                </a>
                                <button class="btn" data-toggle="collapse" data-target="#blog">Info</button>

                                <div id="blog" class="collapse">
                                    A blogging application built with Java, MySQL, Spring Boot, Thymeleaf, Bootstrap, CSS, HTML and deployed to the web. Users can create an account. Once logged in, users can create posts, upload images, edit, and delete their blogposts.                                </div>
                            </div>

                            <div class="row top-buffer">
                                <a class="btn" data-bs-toggle="collapse" href="https://eleanorellingson.github.io/coffee-project/" target="_blank" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Coffee Project
                                </a>
                                <button class="btn" data-toggle="collapse" data-target="#coffee">Info</button>

                                <div id="coffee" class="collapse">
                                Paired-programing, JavaScript web application that allows users to navigate through the stock of a mock coffee shop. Users are able to add, edit, and delete types of coffee.</div>
                                </div>
                            </div>

                            <div class="row top-buffer">
                                <a class="btn" data-bs-toggle="collapse" href="https://eleanorellingson.github.io/weather-app/" target="_blank" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Weather App
                                </a>
                                <button class="btn" data-toggle="collapse" data-target="#weather">Info</button>

                                <div id="weather" class="collapse">
                                    A web application written with JavaScript and using jQuery to integrate two separate API’s (Open Weather Map and Mapbox) to work in conjunction to give a 5-day weather forecast and location on a map. This is completed by using AJAX requests based on user input.
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div th:replace="partials/scripts :: assets"></div>


</body>
</html>